h1{
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color:greenyellow;
}
.a{
    font-weight: bold;
    font-size: 1.2em;
}

.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    border-radius: 0;
    margin-top: 0px;
}

.navbar-brand{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 1.5em;
}
#services{
    
    text-shadow: 2px 2px 4px black;
    color: black;
}
.course{
    text-shadow: 2px 2px 4px black;
    color: black; 
}


.contact{
    text-shadow: 2px 2px 4px black;
    text-align: center;
}

.teach{
    text-shadow: 2px 2px 4px black;
}
a{
    color: #dc3545;
}

