 {% extends 'Blog/base.html' %}
 {% load static %}
 {% block title %} About Us {% endblock title %}
 {% block content %}
 <div class="col-sm-10">
 <h3 class='my-5 text-center'>About Page</h3>
    <div class='about-para'>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus consectetur, porro ipsa repellendus nihil voluptates dolor! Quis officiis quibusdam error natus doloribus beatae, nam sint nobis autem dolorem! Repellat, praesentium. In sapiente doloremque, blanditiis accusamus tempore necessitatibus facilis a fugiat voluptas odit debitis minima explicabo, et delectus. Aspernatur, sunt obcaecati.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis animi quae obcaecati at quibusdam eum voluptatem eveniet laudantium, dolore laboriosam doloribus quaerat, nihil, repellat blanditiis rerum odit optio! Consequuntur quis autem quo, iusto saepe totam cum! Molestiae dicta voluptates recusandae, reiciendis quae perspiciatis assumenda id alias natus quia facere. Quo excepturi minima quos ab tempore sit voluptate! Excepturi molestias facere iusto libero eos laudantium voluptates natus nam incidunt autem ipsa quae aliquam nobis nemo, harum, soluta voluptatem odit unde error.</p>
    </div>
 </div>
 
 {% endblock content %}